<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <h1>Hello <%= user %></h1>

    <% for (let i = 0; i < characters.length; i++) { %>
        <a href="/characters/<%= characters[i]._id %>"><h3><%= characters[i] %></h3></a>
    <% } %>

    <% if (characters.length == 0) { %>
        <h3>You don't have any characters yet!</h3>
        <a href="/characters/create"><h3>Create one here!</h3></a>
    <% } %>

    <%- include("./partials/footer.ejs") %>
</body>
</html>