<html lang="en">
<%- include("./partials/head.ejs") %>
<script src="<%= static %>/createCharacterHelper.js"></script>

<body>
    <%- include("./partials/nav.ejs") %>

    <h1 class="input_label">Enter Character Name:</h1>
    <form method="POST" id="create_character_form">
        <input type="text" name="name" id="character_name">
    
        <div id="confirmations" class="hidden">
            <br><br>
            <h1 class="input_label">Race:</h1><input name="race" value="" id="raceInput"><br><br>
            <h1 class="input_label">Subrace:</h1><input name="subrace" value="" id="subraceInput"><br><br>
            <h1 class="input_label">Class:</h1><input name="class" value="" id="classInput"><br><br>
            <h1 class="input_label">Subclass:</h1><input name="subclass" value="" id="subclassInput"><br><br>
            <h1 class="input_label">Background:</h1><input name="background" value="" id="backgroundInput">
            <br><br><br><br>
            <h1 class="h1_button" onclick="submitForm()">Create Character</h1>
            <br><br>
            <span id="form-errors"></span>
        </div>
    </form>
    <br><br><hr><br>

    <div id="races">
        <h1>Step 1: Choose a Race</h1>
        <% races.forEach((cur_race) => { %>
            <%- include("./partials/race.ejs", {cur_race: cur_race}) %>
        <% }) %>
    </div>

    <div id="classes" class="hidden">
        <h1>Step 2: Choose a Class</h1>
        <% classes.forEach((cur_class) => { %>
            <%- include("./partials/class.ejs", {cur_class: cur_class}) %>
        <% }) %>
    </div>

    <div id="backgrounds" class="hidden">
        <h1>Step 3: Choose a Background</h1>
        <% backgrounds.forEach((cur_background) => { %>
            <%- include("./partials/background.ejs", {cur_background: cur_background}) %>
        <% }) %>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>