<div class="race">
    <h1 onclick="toggleDropdown('race_<%= cur_race.race_name %>')"><%= cur_race.race_name %></h1>

    <div id="race_<%= cur_race.race_name %>" class="hidden">
        <hr><br>
        <p><strong>Size:</strong> <%= cur_race.size %></p>
        <p><strong>Speed:</strong> <%= cur_race.speed %> ft.</p>
        
        <div class="flex-parent">
            <div class="flex-child">
                <h2>Ability Score Improvements:</h2>
                <ul>
                    <% cur_race.abilityScoreBonus.forEach((ability) => { %>
                        <% let cur_key = Object.keys(ability) %>
                        <% let cur_val = ability[cur_key] %>
                        <li><strong><%= cur_key %>:</strong> 
                        <%= ((cur_val > 0) ? "+" : "") + cur_val %></li>
                    <% }) %>
                </ul>
            </div>
            
            <div class="flex-child">
                <h2>Languages:</h2>
                <ul>
                    <% cur_race.languages.forEach((language) => { %>
                        <li><%= language %></li>
                    <% }) %>
                </ul>
            </div>
        </div>
        
        
        <% if (cur_race.traits.length > 0) { %>
            <h2>Traits:</h2>
            <ul>
                <% cur_race.traits.forEach((trait) => { %>
                    <% let cur_key = Object.keys(trait) %>
                    <li><strong><%= cur_key[0] %>:</strong>
                    <%= trait[cur_key[0]] %></li>
                    
                    <% if (cur_key.length > 1) { %>
                        <table>
                            <tr>
                                <% Object.keys(trait[cur_key[1]][0]).forEach((col) => { %>
                                    <th><%= col %></th>
                                <% }) %>
                            </tr>
                            <% trait[cur_key[1]].forEach(obj => { %>
                                <tr>
                                <% Object.values(obj).forEach((col) => { %>
                                    <td><%= col %></td>
                                <% }) %>
                                </tr>
                            <% }) %>
                        </table>
                    <% } %>
                <% }) %>
            </ul>
        <% } %>
        
        <% if (cur_race.subraces.length > 0) { %>
            <h2>Sub-Races:</h2>
            <div class="subraces tabcontainer">
                <div class="tab">
                    <% for (let i = 0; i < cur_race.subraces.length; i++) { %>
                        <% let subraceObj = cur_race.subraces[i] %>
                        <button class="tablinks <%= cur_race.race_name %><%= (i == 0) ? " activeTab" : "" %>" onclick="showTab(event, '<%= cur_race.race_name %>', '<%= Object.keys(subraceObj)[0] %>')"><%= Object.keys(subraceObj)[0] %></button>
                    <% } %>
                </div>
                <% cur_race.subraces.forEach((subraceObj) => { %>
                    <% let subrace_name = Object.keys(subraceObj)[0] %>
                    <% let subrace = subraceObj[subrace_name] %>
                    <div id="<%= subrace_name %>" class="subrace tabcontent <%= cur_race.race_name %>">
                        <h3>Ability Score Improvements:</h3>
                        <ul>
                            <% subrace.abilityScoreBonus.forEach((ability) => { %>
                                <% let cur_key = Object.keys(ability) %>
                                <% let cur_val = ability[cur_key] %>
                                <li><strong><%= cur_key %>:</strong> 
                                <%= ((cur_val > 0) ? "+" : "") + cur_val %></li>
                            <% }) %>
                        </ul>
        
                        <h3>Traits:</h3>
                        <ul>
                            <% subrace.traits.forEach((trait) => { %>
                                <% let cur_key = Object.keys(trait) %>
                                <li><strong><%= cur_key[0] %>:</strong>
                                <%= trait[cur_key[0]] %></li>
                                
                                <% if (cur_key.length > 1) { %>
                                    <table>
                                        <tr>
                                            <% Object.keys(trait[cur_key[1]][0]).forEach((col) => { %>
                                                <th><%= col %></th>
                                            <% }) %>
                                        </tr>
                                        <% trait[cur_key[1]].forEach(obj => { %>
                                            <tr>
                                            <% Object.values(obj).forEach((col) => { %>
                                                <td><%= col %></td>
                                            <% }) %>
                                            </tr>
                                        <% }) %>
                                    </table>
                                <% } %>
                            <% }) %>
                        </ul>
                        <br><br>
                        <h1 class="h1_button" onclick="selectRace('<%= cur_race.race_name %>', '<%= subrace_name %>')">Select Sub-Race</h1>
                        <br>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <br><br>
            <h1 class="h1_button" onclick="selectRace('<%= cur_race.race_name %>')">Select Race</h1>
        <% } %>
        
        <br><br>
    </div>
</div>