<li>
    <% let hasScoreBonus = character_race.abilityScoreBonus.some(abilityScoreObject => Object.keys(abilityScoreObject).includes(stat.name)) %>

    <strong><%= stat.name %></strong><br>
        
    <div class="abilityScore">
        <select id="<%= stat.name %>_ability_score" 
            class="ability_score"
            name="<%= stat.name %>_ability_score" 
            onchange="stat_change('<%= stat.name %>_ability')">

            <% raw_stats.forEach((raw_stat) => { %>
                <option value="<%= raw_stat %>" <%= (raw_stat == stat.value) ? "selected" : "" %>><%= raw_stat %></option>
            <% }) %>

        </select>
        <% if (hasScoreBonus) { %>
            <div class="tooltip">
                +<%= character_race.abilityScoreBonus.filter(abilityScoreObject => Object.keys(abilityScoreObject).includes(stat.name))[0][stat.name] %>
                <span class="tooltiptext">Your race has granted you an ability score improvement in this ability</span>
            </div>
        <% } %>
    </div>
    <% let stat_modifier = Math.floor((stat.value - 10) / 2) %>
    <p id="<%= stat.name %>_ability_modifier"><%= ((stat_modifier >= 0) ? "+" : "") + stat_modifier %></p>
</li>